@using VentasNet.Infra.DTO.Request
@model ProductoReq


<h2>Agregar Producto</h2>

<h4>Producto</h4>


@using (Html.BeginForm("AgregarProducto", "Producto", FormMethod.Post))
{
    <div class="container">
        <div class="panel-body">

            @*  <div class="form-group col-4 ">
        @Html.LabelFor(x=> x.IdProveedor)
        @Html.TextBoxFor(model => model.IdProveedor, new {@class="form-control"})
        </div> *@
            <div class="form-group col-4">
                @Html.LabelFor(x=> x.CodigoProducto)
                @Html.TextBoxFor(model => model.CodigoProducto, new {@class="form-control"})
            </div>
            <div class="form-group col-4">
                @Html.LabelFor(x=> x.NombreProducto)
                @Html.TextBoxFor(model => model.NombreProducto, new {@class="form-control"})
            </div>
            <div class="form-group col-4">
                @Html.LabelFor(x=> x.Descripcion)
                @Html.TextBoxFor(model => model.Descripcion, new {@class="form-control"})
            </div>
            <div class="form-group col-4">
                @Html.LabelFor(x=> x.ImporteProducto)
                @Html.TextBoxFor(model => model.ImporteProducto, new {@class="form-control"})
            </div><br>
            <div class=" form-group align-items-end">
                <button class="btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </div>
}
