@using VentasNet.Infra.DTO.Request
@model ProductoReq

<h2>Modificar Producto</h2>


@using (Html.BeginForm("Editar", "Producto", FormMethod.Post))
{
    <div class="container">

        <div class="form-group col-4 ">
            @Html.LabelFor(x=> x.NombreProducto)
            @Html.TextBoxFor(model => model.NombreProducto, new {@class="form-control"})
        </div>
        <div class="form-group col-4">
            @Html.LabelFor(x=> x.Descripcion)
            @Html.TextBoxFor(model => model.Descripcion, new {@class="form-control"})
        </div>
        <div class="form-group col-4">
            @Html.LabelFor(x=> x.ImporteProducto)
            @Html.TextBoxFor(model => model.ImporteProducto, new {@class="form-control"})
        </div>
        <div class="form-group col-4">
            @Html.LabelFor(x=> x.IdProducto)
            @Html.TextBoxFor(model => model.CodigoProducto, new {@class="form-control"})
        </div>


        <div class=" form-group align-items-end">
            <button class="btn-primary" type="submit">Actualizar</button>
        </div>

    </div>
}