@using VentasNet.Infra.DTO.Request
@model ClienteReq

<h2>Agregar Cliente</h2>

@using (Html.BeginForm("UpdateCliente", "Cliente", FormMethod.Post))
{
    <div class="container">
        <div class="panel-body">
            <div class="form_group col-4">
                @Html.LabelFor(x => x.RazonSocial)
                @Html.TextBoxFor(model => model.RazonSocial, new {@class="form-control"})
            </div>
            <div class="form_group col-4">
                @Html.LabelFor(x => x.Cuit)
                @Html.TextBoxFor(model => model.Cuit, new {@class="form-control"})
            </div>
            <div class="form_group col-4">
                @Html.LabelFor(x => x.Provincia)
                @Html.TextBoxFor(model => model.Provincia, new {@class="form-control"})
            </div>
            <div class="form_group col-4">
                @Html.LabelFor(x => x.Domicilio)
                @Html.TextBoxFor(model => model.Domicilio, new {@class="form-control"})
            </div>
            <div class="form_group align-items-end">
                <button class="btn-primary" type="submit">Guardar</button>
            </div>
        </div>
    </div>
}